.trapezoid-box {
    clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
    background-color: #e00;
}

a{
    text-decoration: none !important;
}
.menu-item {
    color: #fff;
}
.menu-item:hover{
    color: #eee !important;
}

.bg-main{
    background-image: url('./assets/images/bg-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.more-information{
    background-color: #e00;
    color: white;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    border-radius: 5px;
    transition: 0.5;
}
.more-information:hover{
    background-color: #f00;
}
.realation-btn{
    background-color: #fff;
    color: #222;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    border-radius: 5px;
    transition: 0.5;
}
.realation-btn:hover{
    background-color: #ccc;
}